<div class="login-page">
  <div class="login-box">
    <div class="login-logo">
      <a><b>Sistema</b>POS</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Ingresa tus datos para iniciar sesión</p>

        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Usuario" id="user" [(ngModel)]="correo" #user="ngModel">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          <span *ngIf="!user.valid && user.touched" class="warning-message">El nombre de usuario es requerido</span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Contraseña" name="claveIn" [(ngModel)]="clave" #claveIn="ngModel">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <span *ngIf="!claveIn.valid && claveIn.touched" class="warning-message">El correo electrónico es requerido</span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> Recuerdame
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button class="btn btn-primary btn-block btn-flat" (click)="Ingresar()" [disabled]="!correo || !clave">Ingresar</button>
          </div>
          <!-- /.col -->
        </div>

      <a href="#">Olvidé mi contraseña</a><br>

    </div>
    <!-- /.login-box-body -->
  </div>
</div>

<ngx-spinner  bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "ball-fussion" fullScreen = "true">
  <p style="color: white" > Cargando... </p>
</ngx-spinner>