<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Cliente
        <small>Formulario de modificación de clientes</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Cliente</a></li>
        <li class="active">Prueba</li>
        <li class="active">Cliente</li>
    </ol>
</section>

<section class="content container-fluid">
    <fieldset>
        <p class="centered">Lista de clientes.</p>
        
        <div class="row form-inline">
            <div class="col-md-5">
                <label for="filtroCliente" style="padding-right: 15px;">Filtrar Nombre: </label>
                <input type="text" id="filtroCliente" class="form-control" [(ngModel)]="filtro.nombre" >
            </div>
            <div class="col-md-5">
                <label for="" style="padding-right: 15px;">Crear Cliente </label>
                <button class="btn btn-success" title="Añadir ítem" (click)="NuevoItem()">
                    <i class="fa fa-plus-square"></i></button>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Tipo de documento</th>
                        <th>Documento</th>
                        <th>Telefono</th>
                        <th>Activo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of listaCliente | filterBy:filtro | paginate: { itemsPerPage: 5, currentPage: p}" 
                    (click)="VerDetalle(cliente)"
                    [class.active]="cliente==clienteDetalle">
                        <td>{{cliente.idCliente}}</td>
                        <td>{{cliente.nombre}}</td>
                        <td>{{cliente.apellido}}</td>
                        <td>{{cliente.tipoDocumentoDes}}</td>
                        <td>{{cliente.documento}}</td>
                        <td>{{cliente.telefono}}</td>
                        <td><input type="checkbox" [(ngModel)]="cliente.activo" [disabled]="cliente" name="list_name" value="{{cliente.activo}}" ></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</section>

<!-- Main content -->
<section class="content container-fluid" @myInsertRemoveTrigger *ngIf="clienteDetalle">
    <fieldset>
        <div class="col-md-4 ">
            <p><strong>Información del cliente</strong></p>

            <table class="table ">
                <tr>
                    <td>
                        <strong> Código</strong>
                    </td>
                    <td>
                        {{clienteDetalle.idCliente}}
                    </td>
                </tr>
                <tr>        
                    <td>
                        <strong>Email</strong>
                    </td>
                    <td>
                        {{clienteDetalle.email}}
                    </td>
                </tr>
                <tr>        
                    <td>
                        <strong>Cliente Principal</strong>
                    </td>
                    <td>
                        {{clienteDetalle.nombreClientePrincipal}}
                    </td>
                </tr>
                <tr>        
                    <td>
                        <strong>Cliente Referidor</strong>
                    </td>
                    <td>
                        {{clienteDetalle.nombreClientereferido}}
                    </td>
                </tr>
                <tr>        
                    <td>
                        <strong>Usuario de Creación</strong>
                    </td>
                    <td>
                        {{clienteDetalle.usuario}}
                    </td>
                </tr>
                <tr>        
                    <td>
                        <strong>Fecha de creación</strong>
                    </td>
                    <td>
                        {{clienteDetalle.fechaCreacion}}
                    </td>
                </tr>
                <tr>        
                    <td>
                        <strong>Usuario de modificación</strong>
                    </td>
                    <td>
                        {{clienteDetalle.usrModificacion}}
                    </td>
                </tr>
                <tr>        
                    <td>
                        <strong>Fecha de modificación</strong>
                    </td>
                    <td>
                        {{clienteDetalle.fechaModificacion}}
                    </td>
                </tr>
            </table>
            <div class="row form-inline">
                <div class="col-md-6 centered">
                    <button class="btn btn-warning" (click)="CargarItem()"><i
                        class="fa fa-pencil"></i></button>
                </div>
                <div class="col-md-6 centered">
                    <button class="btn btn-danger" (click)="AbreModal()"><i
                        class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-tabs">
                <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" data-toggle="tab" href="#empresas"> Empresas </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" data-toggle="tab" href="#sucursales"> Sucursales </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" data-toggle="tab" href="#productos"> Productos </a>
                </li>
              </ul>
      
              <div class="tab-content">
                <div id="empresas" class="tab-pane active">
                    <empresa-page [cliente]="clienteDetalle"></empresa-page>
                </div>
                <div id="sucursales" class="tab-pane fade">
                    <sucursal-page [cliente]="clienteDetalle"></sucursal-page>
                </div>
                <div id="productos" class="tab-pane fade">
                    <productos-page></productos-page>
                </div>
              </div>
        </div>
    </fieldset>

</section>
<!-- /.content -->

<!-- modal crear o modificar -->
<div class="modal fade" bsModal #modalCreaModifica="bs-modal" id="modalCreaModifica" tabindex="-1" role="dialog"
    aria-labelledby="modalCreaModifica" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCreaModifica">Editar/Agregar cliente</h5>
                <button type="button" class="close" aria-label="Close" (click)="modalCreaModifica.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-horizontal" *ngIf="itemCliente">

                    <p class="centered">Bienvenido al formulario de {{tipoForm}}.</p>
                    <br />
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="id_cliente">Codigo</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" value="-1" id="id_cliente" [(ngModel)]="itemCliente.idCliente"
                                name="id_cliente" [disabled]="editarItem||!editarItem" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="nombre">Nombres</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="nombre" [(ngModel)]="itemCliente.nombre"
                                #nombre="ngModel" oninput="this.value = this.value.toUpperCase()" autofocus required>
                            <span *ngIf="!nombre.valid && nombre.touched" class="warning-message">El nombre es
                                requerido</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="apellidosInput">Apellidos</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="apellidosInput"
                                [(ngModel)]="itemCliente.apellido" #apellidosInput="ngModel"
                                oninput="this.value = this.value.toUpperCase()" required>
                            <span *ngIf="!apellidosInput.valid && apellidosInput.touched" class="warning-message">Los
                                apellidos son requeridos</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="tipoDocumento">Tipo de documento</label>
                        <div class="col-md-4">
                            <select class="form-control" id="tipoDocumento" [(ngModel)]="itemCliente.tipoDocumento"
                                #tipoDocumento="ngModel" required>
                                <option *ngFor="let tipoDoc of listaTipoDocu" [value]="tipoDoc.llave">{{tipoDoc.valor}}
                                </option>
                            </select>
                            <span *ngIf="!tipoDocumento.valid && tipoDocumento.touched" class="warning-message">El tipo
                                de documento de identidad es requerido</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="documento">Número de documento</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="documento" [(ngModel)]="itemCliente.documento"
                                #documento="ngModel" required>
                            <span *ngIf="!documento.valid && documento.touched" class="warning-message">El documento de
                                identidad es requerido</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="email_cliente">Correo</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="email_cliente" [(ngModel)]="itemCliente.email"
                                #email_cliente="ngModel"  required>
                            <span *ngIf="!email_cliente.valid && email_cliente.touched" class="warning-message">El
                                correo es requerido</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="tel_cliente">Teléfonos</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="tel_cliente" [(ngModel)]="itemCliente.telefono"
                                name="tel_cliente" #tel_cliente="ngModel" required>
                            <span *ngIf="!tel_cliente.valid && tel_cliente.touched" class="warning-message">El teléfono
                                es requerido</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="dir_cliente">Dirección</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="dir_cliente" [(ngModel)]="itemCliente.direccion"
                                name="dir_cliente" #dir_cliente="ngModel" required>
                            <span *ngIf="!dir_cliente.valid && dir_cliente.touched" class="warning-message">La dirección
                                es requerida</span>
                        </div>
                    </div>

                    <div *ngIf="mostrar" class="form-group">
                        <label class="col-md-4 control-label" for="dir_cliente">Barrio</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="dir_cliente" [(ngModel)]="itemCliente.barrio"
                                name="dir_cliente" #dir_cliente="ngModel" required>
                            <span *ngIf="!dir_cliente.valid && dir_cliente.touched" class="warning-message">El barrio
                                es requerido</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="cliente_principal">Cliente Principal</label>
                        <div class="col-md-4">
                                <select class="form-control" id="cliente_principal" [(ngModel)]="itemCliente.clientePrincipal"
                                #cliente_principal="ngModel" [disabled]="editarItem"  required >
                                <option *ngFor="let listaCli of listaCliente" [value]="listaCli.idCliente">{{listaCli.nombre}} {{listaCli.apellido}}
                                </option>
                            </select>
                            <span *ngIf="!cliente_principal.valid && cliente_principal.touched" class="warning-message">El cliente principal es requerido</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="cliente_referidor">Cliente Referidor</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="cliente_referidor" [(ngModel)]="itemCliente.clienteReferidor"
                                name="cliente_referidor" #cliente_referidor="ngModel" required>
                            <span *ngIf="!cliente_referidor.valid && cliente_referidor.touched" class="warning-message">El cliente referidor es requerido</span>
                        </div>
                    </div>
                        
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="cliente_activo">Activo</label>
                        <div class="col-md-4">
                            <input type="checkbox" id="cliente_activo" [(ngModel)]="itemCliente.activo" name="cliente_activo">                    
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-success" (click)="GuardarCliente()">Guardar</button>
                </div>
                <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-secondary" (click)="CancelaItem()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal eliminar -->
<div class="modal fade" bsModal #modalEliminar="bs-modal" id="modalEliminar" tabindex="-1" role="dialog"
    aria-labelledby="modalEliminar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminar">Eliminar Ítem del Menú</h5>
                <button type="button" class="close" aria-label="Close" (click)="modalEliminar.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" *ngIf="itemEliminar">
                    <p>Está seguro que desea eliminar el ítem {{itemEliminar.nombre}}?</p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-danger" (click)="EliminarCliente()">Eliminar</button>
                </div>
                <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-secondary" (click)="modalEliminar.hide()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-fussion" fullScreen="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>