<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
      Formulario de Menú
      <small>Creación de ítems del menú</small>
  </h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>Seguridad</a></li>
      <li class="active">Menú</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
      <fieldset>
          <div class="form-horizontal">
      
              <p class="centered">Bienvenido al formulario de creación de ítems del menú.</p>
              <br />
              <div class="form-group">
                  <label class="col-md-4 control-label" for="nombre">Nombre</label>
                  <div class="col-md-4">
                      <input type="text" class="form-control" id="nombre" required>
                      <!-- <span *ngIf="!tipo_solicitud.valid && tipo_solicitud.touched" class="warning-message">El tipo de iniciativa es requerido</span> -->
                  </div>
              </div>
      
              <div class="form-group">
                  <label class="col-md-4 control-label" for="descripcion">Descripción</label>
                  <div class="col-md-4">
                      <input type="text" class="form-control" id="descripcion" required>
                      <!-- <span *ngIf="!tipo_solicitud.valid && tipo_solicitud.touched" class="warning-message">El tipo de iniciativa es requerido</span> -->
                  </div>
              </div>
      
              <div class="form-group">
                  <label class="col-md-4 control-label" for="id_menu">Id Menú</label>
                  <div class="col-md-4">
                    <select [(ngModel)]="idMenu" name="id_menu" class="form-control" required>
                        <option *ngFor="let tipo of pruebas" [ngValue]="tipo">{{tipo}}</option>
                    </select>
                      <!-- <span *ngIf="!tipo_solicitud.valid && tipo_solicitud.touched" class="warning-message">El tipo de iniciativa es requerido</span> -->
                  </div>
              </div>
      
              <div class="form-group">
                  <label class="col-md-4 control-label" ></label>
                  <div class="col-md-2">
                      <button type="submit" class="btn btn-success">Guardar</button>
                  </div>
                  <label class="col-md-1 control-label" for="RegresarButton"></label>
                  <div class="col-md-2">
                      <button name="RegresarButton" class="btn btn-danger">Cancelar</button>
                  </div>
      
              </div>
      
          </div>
      </fieldset>

</section>

<section>
    <div class="table-responsive">        
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tag</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let menu of listaMenu">
                    <td>{{menu.id}}</td>
                    <td>{{menu.tag}}</td>
                    <td>{{menu.nombre}}</td>
                    <td>{{menu.descripcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="min-height: 10px;"></div>
</section>
<!-- /.content -->
