<div class="skin-red">
  <div class="wrapper">
    <!-- Main Header -->
    <header class="main-header">

      <!-- Logo -->
      <a class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>POS</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Proyecto POS</b></span>
      </a>

      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a h class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->
              <a  class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                <img src="./assets/img/invasor_zim.jpg" class="user-image" alt="User Image">
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">{{usuario.nombre}}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                  <img src="./assets/img/invasor_zim.jpg" class="img-circle" alt="User Image">

                  <p>
                    {{usuario.nombre}}.
                    <small>{{usuario.nombreRol}}</small>
                  </p>
                </li>
                <!-- Menu Body -->
                <!-- <li class="user-body"> -->
                  <!-- <div class="row">
                    <div class="col-xs-4 text-center">
                      <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Friends</a>
                    </div>
                  </div> -->
                  <!-- /.row -->
                <!-- </li> -->
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-right">
                    <a (click)="LogOut()" class="btn btn-default btn-flat">Cerrar Sesión</a>
                  </div>
                </li>
              </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <!-- <li>
              <a data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li> -->
          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="./assets/img/invasor_zim.jpg" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p>{{usuario.nombre}}</p>
            <!-- Status -->
            <a><i class="fa fa-circle text-success"></i>{{usuario.nombreRol}}.</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">Menú</li>
          <li routerLinkActive="active" class="treeview" *ngFor="let menu of listaMenu">
            <a >
              <i class="fa fa-lock"></i> <span>{{menu.nombre}}</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="treeview" *ngFor="let grupo of menu.grupos">
                <a ><i class="fa fa-circle-o"></i> {{grupo.nombre}}
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li *ngFor="let permiso of grupo.permisos"><a routerLink="{{permiso.ruta}}"><i class="fa fa-circle-o"></i> {{permiso.nombre}} </a></li>
                </ul>
              </li>
            </ul>
          </li>
          <!-- <li routerLinkActive="active" class="treeview">
            <a href="#"><i class="fa fa-link"></i> <span>Seguridad Quemado</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a routerLink="/menu-form">Formulario Menú</a></li>
              <li><a routerLink="/grupo-form">Formulario Grupo</a></li>
              <li><a routerLink="/permiso-form">Formulario Permiso</a></li>
            </ul>
          </li> -->
        </ul>
        <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <router-outlet></router-outlet>
      
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Términos y condiciones
      </div>
      <!-- Default to the left -->
      Versión: {{versionApi}}.
    </footer>

    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
</div>